#navbar
{
  position: fixed;
  z-index: 2;
  margin: 0;
  background: rgb(58, 55, 55);
  text-align: center;
  width: 100%;
  top: 0px;
  padding: 20px;
}
@media (max-height: 500px)
{

}
#welcome-section
{
    height: 100vh;
  
  }